//#region Основные стили 

body::after {
   content: "";
   background-color: rgba(58, 58, 58, 0.8);
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   opacity: 0;
   transition: all 0.8s ease 0s;
   pointer-events: none;
   z-index: 1490;
}

.popup-show body::after {
   opacity: 1;
}

.popup {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   transition: all 0.8s ease 0s;
   visibility: hidden;
   pointer-events: none;

   // .popup_center

   &_center {}

   // .popup__wrapper

   &__wrapper {
      flex: 1 1 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;

      .popup_center & {
         justify-content: center;
         align-items: center;
         min-height: 100%;
         // height: auto;
      }
   }

   // .popup__content

   &__content {
      visibility: hidden;
      transform: translate(120%, 0px);
      transition: all 0.6s ease 0s;
      background: #fff;
      max-width: 667px;
      width: 100%;
      height: 100%;

      .popup_show & {
         visibility: visible;
         transform: translate(0px, 0px);
      }

      .popup_center & {
         transform: scale(0);
         height: auto;
         max-height: 100%;
      }

      .popup_center.popup_show & {
         transform: scale(1);
      }

      .video-popup & {
         max-width: 100%;
      }

      .lock & {
         visibility: visible;
      }
   }

   // .popup__close

   &__close {
      outline: none;
      width: 22px;
      height: 22px;

      svg {
         height: 100%;
         width: 100%;
      }
   }

   // .popup__close-svg

   &__close-svg {
      height: 100%;
      width: 100%;
   }

   // .popup__text

   &__text {
      font-size: 18px;
      line-height: 26px;
      max-width: 586px;
      margin-bottom: rem(52);
   }

   // .popup__header

   &__header {
      border-bottom: 1px solid #CACACA;
      padding: rem(40);
      padding-left: rem(54);
      padding-right: rem(65);
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width:$mobile) {
         padding: rem(30);
      }

      @media (max-width: em(679.98)) {
         padding-top: rem(13);
         padding-bottom: rem(21);
      }

      .video-popup &,
      .basket-empty & {
         justify-content: flex-end;
      }
   }

   // .popup__video

   &__video {
      width: 100%;
      height: calc(100vh - 200px);

      iframe {
         width: 100%;
         height: 100%;
      }
   }

   // .popup__title

   &__title {
      font-size: 36px;
      font-weight: 800;

      @media (max-width:$mobile) {
         font-size: 25px;
      }
   }

   // .popup__main

   &__main {
      padding: rem(24) rem(60) rem(50);
      overflow: auto;
      height: calc(100% - 121px);

      #thanks & {
         display: flex;
         gap: 25px;
      }

      @media (max-width:$mobile) {
         padding: 20px;
      }
   }

   // .popup__form

   &__form {}

   // .popup__icon

   &__icon {
      width: 38px;
      height: 30px;
   }
}

.popup_show {
   z-index: 1500;
   visibility: visible;
   pointer-events: auto;
}

//#endregion

//#region Дополнительные стили

.popup {

   // .popup_center

   &_center {}

   // .popup__wrapper

   &__wrapper {}

   // .popup__content

   &__content {
      position: relative;

      @media (min-width:$tablet) {

         &::after {
            pointer-events: none;
            user-select: none;
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 54px;
            height: 349px;
            background: url(../img/popup-rect.svg);
         }
      }

      #share-popup & {
         max-width: 460px;
      }

      #sizes &,
      #search & {
         max-width: 737px;
      }

      #share-popup & {
         &::after {
            display: none;
         }
      }

      .popup-basket & {
         max-width: 1046px;
      }

      .popup-basket.basket-empty & {
         max-width: 336px;
      }
   }

   // .popup__close

   &__close {}

   // .popup__text

   &__text {}

   // .popup__header

   &__header {}

   // .popup__close-svg

   &__close-svg {}

   // .popup__video

   &__video {}

   // .popup__title

   &__title {}

   // .popup__main

   &__main {
      #share-popup & {
         height: auto;
      }

      .form {

         // .form__line

         &__line {
            max-width: 440px;

            &:not(:last-child) {
               margin-bottom: rem(30);
            }
         }

         // .form__label

         &__label {}

         // .form__input

         &__input {}

         // .form__clear-svg

         &__clear-svg {}

         // .form__button

         &__button {}

         // .form__txt

         &__txt {}

         // .form__footer

         &__footer {}

         // .form__consent

         &__consent {
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
            line-height: 18px;
         }

         // .form__consent-link

         &__consent-link {
            text-decoration: underline;
            display: block;

            &:hover {
               text-decoration: none;
            }
         }

         // .form__bottom

         &__bottom {
            display: grid;
            gap: 25px;
            align-items: center;
            grid-template-columns: 248px 1fr;

            @media (max-width:$mobileMiddle) {
               grid-template-columns: 1fr;
            }
         }

         // .form__btn

         &__btn {}

         // .form__link

         &__link {}

         // .form__reg

         &__reg {}
      }
   }

   // .popup__form

   &__form {}

   // .popup__icon

   &__icon {}
}

//#endregion

//#region Корзина

.basket {
   display: grid;
   grid-template-columns: 1fr 336px;
   height: 100%;

   @media (max-width:$tablet) {
      grid-template-columns: 1fr 246px;
   }

   @media (max-width: em(679.98)) {
      grid-template-columns: 1fr;
      overflow: auto;
      height: calc(100% - 83px);
   }

   .basket-empty & {
      display: block;
   }

   // .basket__cards

   &__cards {
      border-right: 1px solid #CACACA;
      @extend %hidescroll;

      @media (min-width: em(679.98)) {
         height: calc(100% - 121px);
         overflow: auto;

         @media (max-width:$mobile) {
            height: calc(100% - 101px);
         }
      }
   }

   // .basket__info

   &__info {
      @extend %hidescroll;

      @media (min-width: em(679.98)) {
         height: calc(100% - 121px);
         overflow: auto;

         @media (max-width:$mobile) {
            height: calc(100% - 101px);
         }
      }
   }

   // .basket__center

   &__center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(100% - 103px);
   }

   // .basket__empty-logo

   &__empty-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: rem(46);
   }

   // .basket__empty-icon

   &__empty-icon {
      width: 52px;
      height: 43px;

      use {
         fill: var(--red-main);
      }
   }

   // .basket__empty-text

   &__empty-text {
      text-align: center;
      font-size: 24px;
      margin-bottom: rem(30);
   }

   // .basket__sub-text

   &__sub-text {
      font-size: 14px;
      line-height: 22px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.basket-card {
   display: grid;
   grid-template-columns: 120px 1fr 45px;
   gap: 10px;
   border-bottom: 1px solid #CACACA;
   position: relative;
   padding-bottom: rem(20);

   @media (max-width:$mobile) {
      grid-template-columns: 110px 1fr 45px;
   }

   @media (max-width:$mobileSmall) {
      grid-template-columns: 90px 1fr 40px;
   }

   // .basket-card__image

   &__image {
      width: 100%;
      height: 124px;

      @media (max-width:$mobileSmall) {
         height: 75px;
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: top;
      }
   }

   // .basket-card__center

   &__center {
      padding-top: rem(17);
   }

   // .basket-card__name

   &__name {
      line-height: 24px;
      font-size: 16px;
      margin-bottom: rem(16);
      display: block;
   }

   // .basket-card__bottom

   &__bottom {
      display: grid;
      grid-template-columns: 180px 109px 1fr;
      gap: 15px;
      align-items: center;

      @media (max-width:$tablet) {
         grid-template-columns: 109px 1fr;
      }

      @media (max-width: em(420)) {
         margin-left: rem(-85);
      }
   }

   // .basket-card__prices

   &__prices {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      row-gap: 5px;

      @media (max-width:$tablet) {
         grid-column: 1/3;
      }
   }

   // .basket-card__price

   &__price {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      white-space: nowrap;
   }

   // .basket-card__price-old

   &__price-old {
      color: #7E7E7E;
      font-size: 20px;
      font-weight: 400;
      white-space: nowrap;
   }

   // .basket-card__price-total

   &__price-total {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;

      @media (max-width: em(420)) {
         white-space: nowrap;
      }
   }

   // .basket-card__buttons

   &__buttons {
      padding-top: rem(19);
      display: flex;
      flex-direction: column;
      gap: 25px;
      align-items: center;
   }

   // .basket-card__del

   &__del {
      width: 15px;
      height: 19px;
   }

   // .basket-card__favor

   &__favor {
      &.btn-add {
         width: 19px;
         height: 17px;

         img {
            width: 100%;
         }
      }
   }
}

.basket-price {

   // .basket-price__wrapper

   &__wrapper {
      padding: 0 rem(35);
      padding-top: rem(17);
      padding-bottom: rem(40);

      @media (max-width:$tablet) {
         padding: rem(17) rem(20);
      }

      @media (max-width:$mobileSmall) {
         padding: rem(30);
      }
   }

   // .basket-price__row

   &__row {
      display: flex;
      flex-direction: column;
      gap: 3px;
      margin-bottom: rem(30);
   }

   // .basket-price__name

   &__name {
      font-size: 14px;
      line-height: 22px;
   }

   // .basket-price__cost

   &__cost {
      font-size: 25px;
      font-weight: 600;
      line-height: 24px;
   }

   // .basket-price__text

   &__text {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
   }

   // .basket-price__button

   &__button {
      @media (max-width:$mobile) {
         width: 100%;
      }
   }
}

//#endregion

// #region Каталожные фильтры
#filters-more {
   padding: 0;

   .popup__close {
      position: absolute;
      top: 20px;
      right: 20px;
   }

   .popup__content {
      max-width: 100%;
      border-radius: 0;
      height: 100%;
      padding: 60px 80px;

      @media (max-width:$tablet) {
         padding: rem(0);
         padding-bottom: rem(50);
      }
   }

   .choice-items-filter {
      flex: 1 1 100%;
      overflow: auto;
   }

   .filters {
      height: 100%;
      width: 100%;
      max-width: 1630px;
      gap: 0 20px;
      display: grid;
      grid-template-columns: 1fr;

      &__title {
         flex: 1 1 100%;

         @media (max-width:$tablet) {
            display: block;
            padding: rem(15);
         }

         @media (max-width:$mobileSmall) {
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
         }
      }

      &__wrapper {
         flex: 1 1 auto;
         overflow: auto;
         padding: 0 rem(15);
         margin: 0 rem(-15);
         padding-bottom: rem(100);

         &.many-cols {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
         }

         @media (max-width:$tablet) {
            display: block;
            margin: 0;
         }
      }

      // .filters__col

      &__col {
         display: grid;
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         gap: 40px;

         .many-cols & {
            display: flex;
            flex-direction: column;
            gap: 40px;
         }

         @media (max-width:$mobileMiddle) {
            grid-template-columns: 1fr;
         }


         @media (max-width:$mobile) {
            gap: 15px;
         }
      }

      &__buttons {
         flex: 0 0 240px;
      }

      &__apply-btn {
         width: 100%;
      }

      &__price {
         @media (min-width:$mobileMiddle) {
            width: 250px;
         }
      }

      &__reset-btn {
         @media (max-width:$tablet) {
            display: flex;
         }
      }

      &__box {
         &:last-child {
            padding-bottom: 0;
         }
      }
   }
}

// #endregion

// #region Модалка живого поиска

.search-form {
   display: flex;
   flex-direction: column;
   height: 100%;

   // .search-form__top

   &__top {
      display: grid;
      grid-template-columns: 1fr 22px;
      gap: 72px;
      align-items: center;
      padding: rem(40) rem(85) rem(30) rem(85);

      @media (max-width: em(736.98)) {
         padding: rem(20);
         padding-left: rem(10);
         gap: 40px;
      }
   }

   // .search-form__line

   &__line {
      margin: 0;
   }

   // .search-form__label

   &__label {
      top: 50%;
      transform: translateY(-50%);
   }

   // .search-form__input

   &__input {
      box-shadow: none;
      background: var(--bg-input-header);
      border: none;
      height: 58px;
   }

   // .search-form__svg

   &__svg {
      &._active {
         +.search-form__icon {
            display: none;
         }
      }
   }

   // .search-form__icon

   &__icon {
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
   }

   // .search-form__center

   &__center {
      padding: 0 rem(150) rem(58) rem(85);
      overflow: auto;
      flex: 1 1 auto;

      @extend %hidescroll;

      @media (max-width: em(736.98)) {
         padding: rem(20);
         padding-top: 0;
         padding-left: rem(10);
      }
   }

   // .search-form__item

   &__item {
      display: grid;
      grid-template-columns: 80px 1fr;
      gap: 30px;
      align-items: center;

      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }

   // .search-form__image-ibg

   &__image-ibg {
      height: 80px;
   }

   // .search-form__content

   &__content {
      display: flex;
      flex-direction: column;
      gap: 9px;
   }

   // .search-form__name

   &__name {
      font-size: 16px;
      line-height: 24px;
   }

   // .search-form__prices

   &__prices {}

   // .search-form__price

   &__price {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
   }

   // .search-form__bottom

   &__bottom {
      height: 116px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 19px rgba(0, 0, 0, 0.3);
      padding: 0 rem(20);
      flex: 0 0 116px;
      background-color: var(--bg-white);
      position: relative;
      z-index: 2;

      @media (max-width: em(736.98)) {
         height: 90px;
         flex: 0 0 90px;
      }
   }

   // .search-form__button

   &__button {
      width: 100%;
      max-width: 505px;
   }
}

// #endregion

.login {

   // .login__text

   &__text {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: rem(52);
   }
}

.data-change {

   // .data-change__navigation

   &__navigation {
      background: #E6E6E6;
      border-radius: 31px;
      display: flex;
      padding: rem(4);
      margin-bottom: rem(32);
   }

   // .data-change__title

   &__title {
      flex: 0 1 50%;
      border-radius: 31px;
      font-size: 18px;
      line-height: 26px;
      padding: rem(15) rem(0);
      transition: background 0.3s ease 0s;

      &._tab-active {
         background: #FFFFFF;

      }
   }

   // .data-change__content

   &__content {}

   // .data-change__body

   &__body {
      .form__btn {
         width: 225px;
      }
   }
}

.share {

   // .share__social

   &__social {
      margin-bottom: rem(40);
   }

   // .share__copy-url

   &__copy-url {}

   // .share__input

   &__input {}

   // .share__button

   &__button {
      width: 100%;
   }
}