// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--red-main: #CF1235;
	--red-main-hover: #9b112a;
	--red-logo: #E12A4C;
	// =================================================================


	// Background colors (Фонові кольори):
	// =================================================================
	--bg-input-header: #EDEDED;
	--bg-grey: #3E3E3E;
	--bg-grey-light: #E5E5E5;
	--bg-grey-super-light: #EFEFEF;
	--bg-black: #000;
	--bg-white: #fff;
	--bg-footer: #1A1A1A;
	// =================================================================

	// left-catalog
	//========================================================================================================================================================
	--btn-main-color: #E5E5E5;
	--btn-active: #515151;
	--cat-border: #979797;
	--bg-cat-dark-grey: #373737;
	--bg-cat-light-grey: #515151;
	//========================================================================================================================================================


	// Text colors (Текстові кольори):
	// =================================================================
	--text-black: #000000;
	--text-white: #ffffff;
	--text-input-header: #3D4A62;
	--text-article: #8A8A8A;
	// =================================================================

	--left-cat-btn: 153px;
	--header-height: 134px;

	@media (max-width:$pc) {
		--left-cat-btn: 107px;
	}

	@media (max-width:$laptopL) {
		--header-height: 163px;
	}

	@media (max-width:$laptop) {
		--left-cat-btn: 83px;
	}

	@media (max-width:$tablet) {
		--left-cat-btn: 0px;
		--header-height: 0px;
	}
}