//<FORM>
// Снипет (HTML):


.form {

	// .form__line

	&__line {
		position: relative;
		margin-bottom: rem(32);

		&._form-focus {
			.form__label {
				top: -20px;
				left: 0;
				font-size: 12px;
				line-height: 22px;
			}
		}
	}

	// .form__label

	&__label {
		transition: all 0.3s ease 0s;
		position: absolute;
		top: 13px;
		left: 16px;
		color: rgba(0, 0, 0, 0.604535);
		font-size: 18px;
		line-height: 22px;
		pointer-events: none;

		.has-error & {
			top: 35px;
		}
	}

	// .form__input
	// .form__txt

	&__txt,
	&__input {
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.230742);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
		border-radius: 5px;
		height: 48px;
		padding: rem(16) rem(32) rem(16) rem(16);
		width: 100%;

		.has-error & {
			border: 2px solid var(--red-main);
		}

		&.parsley-error {
			border: 2px solid var(--red-main);
		}
	}

	// .form__input

	&__input {}

	input::-webkit-passman-key {
		display: none;
		width: 0;
	}

	// .form__txt

	&__txt {
		min-height: 87px;
	}

	&__viewpass {
		width: 25px;
		height: 23px;
		background: url(../img/icons/pass.svg);
		position: absolute;
		right: 40px;
		top: 12px;
		cursor: pointer;
		opacity: 0;

		&._viewpass-active {
			background: url(../img/icons/pass-active.svg);
		}

		._form-focus & {
			opacity: 0.3;

			&:hover {
				opacity: 1;
			}
		}
	}

	// .form__clear-svg

	&__clear-svg {
		cursor: pointer;
		position: absolute;
		width: 32px;
		height: 32px;
		padding: rem(8);
		top: 8px;
		right: 4px;
		display: none;
		transition: all 0.3s ease 0s;
		border-radius: 4px;

		&:hover {
			background: rgba(61, 74, 98, 0.07);

			use {
				fill: #AA2040;
			}
		}

		&._active {
			display: block;
		}

		use {
			fill: #8A8A8A;
		}
	}

	// .form__footer

	&__footer {
		display: flex;
		gap: 25px;
	}

	// .form__button

	&__button {}

	// .form__consent

	&__consent {
		color: var(--text-white);
		font-size: 12px;
		line-height: 18px;
		opacity: 0.5;
	}

	// .form__consent-link

	&__consent-link {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}


	// .form__link

	&__link {
		font-size: 16px;
		line-height: 21px;
		border-bottom: 1px dashed black;
		justify-self: start;

		&:hover {
			border-bottom: 1px dashed transparent;
		}
	}


}

.parsley-errors-list {
	padding: rem(10) 0;
	color: var(--red-main);
	margin-bottom: rem(-20);
}

.form__dropdown-inner {
	color: #000;
	border-radius: 0 0 4px 4px;
	min-width: 100%;
	left: 0;
	background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .230742);
	-webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .4);
}

.form__dropdown-inner.empty {
	display: none;
}

.form__dropdown-item {
	padding: 10px;
}

.form__dropdown-item:hover {
	background: #d9d9d9;
	cursor: pointer;
}

.icon-success {
	position: absolute;
	left: 16px;
	width: 21px;
	height: 21px;
	background-size: contain;
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjEgMjEiPjxzdHlsZT4uc3Qwe2ZpbGw6IzcxYmEyNH08L3N0eWxlPjxwYXRoIGlkPSJGb3JtYV8xIiBjbGFzcz0ic3QwIiBkPSJNMTAuNSAwQzQuNyAwIDAgNC43IDAgMTAuNVM0LjcgMjEgMTAuNSAyMSAyMSAxNi4zIDIxIDEwLjUgMTYuMyAwIDEwLjUgMHpNOSAxNS40bC01LTQuOSAyLTIgMyAzIDYtNS45IDIgMi04IDcuOHoiLz48L3N2Zz4=);
}

.alert-success {
	color: #71ba24;
	font-size: 16px;
	line-height: 20px;
}

.error-text {
	display: none !important;
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
@import "input";

// <CHECK>
// Снипет (HTML): chk
@import "checkbox";

// <RADIO>
// Снипет (HTML): opt
@import "radio";

// <SELECT>
// Снипет (HTML): sel
@import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
@import "quantity";

// <RANGE>
// Снипет (HTML):
@import "range";

// <CALENDAR>
// Снипет (HTML):
// @import "datepicker";