.catalog-first {

   // .catalog-first__container

   &__container {}

   // .catalog-first__grid

   &__grid {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      grid-auto-rows: minmax(213px, 1fr);
      max-width: 1418px;
   }

   // .catalog-first__link

   &__link {
      padding: rem(20);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      background: var(--bg-grey-super-light);
      position: relative;
      color: var(--red-main);
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      transition: all 0.3s ease 0s;

      &:hover {
         background: var(--red-main);
         color: var(--text-white);

         .catalog-first__link-icon use {
            fill: var(--bg-white);
            opacity: 1;
         }
      }

      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         right: 0;
         width: 23px;
         height: 49px;
         background: url(../img/catalog-first__link-rect.svg);
      }
   }

   // .catalog-first__link-icon

   &__link-icon {
      width: 90px;
      height: 66px;
      flex: 0 0 90px;

      use {
         transition: all 0.3s ease 0s;
         fill: #5D5D5D;
         opacity: 0.3;
      }
   }

   // .catalog-first__link-name

   &__link-name {}
}