//========================================================================================================================================================


.main-catalog {
	@include adaptiveValue("margin-bottom", 100, 30);
	// .main-catalog__row

	&__row {
		display: grid;
		grid-template-columns: 270px 1fr;
		gap: 60px;

		@media (max-width:$pc) {
			grid-template-columns: 260px 1fr;
		}

		@media (max-width:$laptopL) {
			gap: 30px;
		}

		@media (max-width:$laptop) {
			gap: 40px;
		}

		@media (max-width:$tablet) {
			display: block;
		}
	}

	// .main-catalog__sidebar

	&__sidebar {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 15;
	}

	// .main-catalog__sidebar-links

	&__sidebar-links {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: rem(30);

		@media (max-width:$tablet) {
			margin-bottom: rem(15);
		}
	}

	// .main-catalog__sidebar-link

	&__sidebar-link {
		font-size: 20px;
		font-weight: 600;
	}

	// .main-catalog__sidebar-categories

	&__sidebar-categories {
		margin-bottom: rem(40);
	}

	// .main-catalog__filters

	&__filters {
		@media (max-width:$tablet) {
			display: none;
		}
	}

	// .main-catalog__content

	&__content {
		@media (max-width:$tablet) {
			max-width: 100%;
		}
	}

	// .main-catalog__sort

	&__sort {
		margin-bottom: rem(23);

		@media (max-width:$mobile) {
			margin-bottom: rem(7);
		}
	}

	// .main-catalog__filters-items

	&__filters-items {
		margin-bottom: rem(32);
	}

	// .main-catalog__cards

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		@include adaptiveValue("margin-bottom", 100, 30);
		gap: 40px 0px;

		@media (min-width:em(1920.98)) {
			grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
		}

		@media (max-width: em(590)) {
			gap: 0;
			grid-template-columns: 1fr;
		}
	}

	// .main-catalog__pagging

	&__pagging {}
}

.back-btn {
	font-size: 17px;
	font-weight: 600;
	display: flex;
	gap: 13px;
	align-items: center;

	// .back-btn__svg

	&__svg {
		width: 18px;
		height: 13px;

		use {
			fill: #E52931;
		}
	}

	// .back-btn__span

	&__span {}
}

.category {
	padding-bottom: rem(20);
	border-image-slice: 0 27 25 27;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("../img/buttons/border-grey-for-filters.svg");
	border-style: solid;

	// .category__col

	&__col {
		display: flex;
		flex-direction: column;

		@media (min-width:$mobile) {
			margin-left: rem(-19);
			padding-left: rem(19);

		}
	}

	// .category__link

	&__link {
		padding: rem(17) rem(19);
		position: relative;
		font-size: 16px;
		line-height: 20px;
		--notchSize: 25px;
		clip-path:
			polygon(0% 0px,
				0 0%,
				100% 0%,
				100% 0%,
				100% calc(100% - var(--notchSize)),
				calc(100% - var(--notchSize)) 100%,
				0 100%,
				0% 0);

		@media (max-width:$tablet) {
			padding: rem(12) rem(15);
		}

		&._active,
		&:hover {
			background: var(--bg-grey-light);
		}
	}

	// .category__more

	&__more {
		color: #525252;
		font-size: 14px;
		line-height: 21px;
		text-decoration: underline 1px dashed #000;
		padding-left: rem(19);
		// display: block;
		width: 100%;
		text-align: left;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			height: 34px;
			box-shadow: 0px -16px 20px 14px rgb(255 255 255);
			transition: all 0.3s ease 0s;

			._showmore-active & {
				box-shadow: 0 0 0px rgba(0, 0, 0, 0);
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.filters {

	// .filters__wrapper

	&__wrapper {
		margin-bottom: rem(16);

		@media (max-width:$tablet) {
			display: none;

			.popup__filters & {
				display: block;
			}
		}
	}

	// .filters__col

	&__col {
		@media (min-width:$tablet) {
			padding-bottom: rem(20);
			border-image-slice: 0 27 25 27;
			border-image-width: 20px 20px 20px 20px;
			border-image-outset: 0px 0px 0px 0px;
			border-image-repeat: stretch stretch;
			border-image-source: url("../img/buttons/border-grey-for-filters.svg");
			border-style: solid;
		}
	}

	// .filters__price

	&__price {
		margin-bottom: rem(33);
	}

	// .filters__box-header

	&__box-header {
		display: flex;
		align-items: center;
		margin-bottom: rem(18);
	}

	// .filters__filter-title

	&__filter-title {
		font-weight: 600;
		font-size: 17px;
		line-height: 21px;
		margin-right: rem(15);
	}

	// .filters__box

	&__box {
		padding-bottom: rem(40);
	}

	// .filters__box-content

	&__box-content {
		padding-left: rem(5);
		margin-left: rem(-5);
	}

	// .filters__bottom

	&__bottom {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	// .filters__reset-btn

	&__reset-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34px;
		padding: 0 8px;
		cursor: pointer;
		font-size: 14px;
		line-height: 22px;

		@media (max-width:$tablet) {
			display: none;
		}

		&:hover {
			.filters__reset-svg {
				transform: rotate(180deg);
			}
		}
	}

	// .filters__reset-svg

	&__reset-svg {
		width: 17px;
		height: 17px;
		margin-right: rem(11);
		transition: all 0.3s ease 0s;

		use {
			fill: #8A8A8A;
		}
	}

	// .filters__show-btn

	&__show-btn {}

	// .filters__title

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: rem(27);
	}

	// .filters__find-block

	&__find-block {
		border-radius: 3px;
		position: fixed;
		z-index: 10;
		bottom: 12px;
		left: 8px;
		right: 8px;
		background: #4C4C4C;
		color: var(--text-white);
		padding: rem(9) rem(16);
		display: grid;
		grid-template-columns: 75px 1fr;
		gap: 30px;
		align-items: center;
	}

	// .filters__find-count

	&__find-count {
		font-size: 12px;
	}

	// .filters__apply-btn

	&__apply-btn {
		background: var(--bg-white);
		color: var(--text-black);
		font-size: 16px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(48);
		border-radius: 3px;
	}

	// .filters__more-btn

	&__more-btn {
		width: 55px;
		height: 55px;
		flex: 0 0 55px;
		justify-content: center;
		align-items: center;
		margin-top: 0;
		background: #eee;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-width:$tablet) {
			display: none;
		}

		svg {
			use {
				fill: var(--red-main);
			}
		}
	}

	// .filters__more-svg

	&__more-svg {
		width: 20px;
		height: 20px;

		use {
			fill: #3D4A62;
		}
	}
}

.price {

	// .price__inputs

	&__inputs {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem(25);
	}

	// .price__input

	&__input {
		flex: 0 0 100px;
		width: 100px;
		-moz-appearance: textfield;
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.230742);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
		border-radius: 5px;
		text-align: center;
		height: 48px;
		padding: 5px 10px;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	// .price__range-slider

	&__range-slider {
		padding: 10px;
	}
}

.sort {
	@media (max-width:$mobile) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .sort__row

	&__row {
		display: flex;
		justify-content: space-between;

		@media (max-width:$tablet) {
			margin-bottom: rem(10);
		}

		@media (max-width:$mobile) {
			flex-direction: column;
			align-items: flex-start;
			margin-right: rem(10);
			margin-bottom: 0;
			gap: 10px 0;
		}
	}

	// .sort__left

	&__left {
		display: flex;
		align-items: center;

		@media (max-width: em(1300)) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			gap: 10px;
		}
	}

	// .sort__title

	&__title {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-right: rem(14);

		@media (max-width:$mobile) {
			display: none;
		}
	}

	// .sort__select-wrapper

	&__select-wrapper {}

	// .sort__right

	&__right {
		display: flex;
		align-items: center;

		@media (max-width: em(1300)) {
			flex-direction: column-reverse;
			align-items: flex-end;
			gap: 10px;
		}

		@media (max-width:$mobile) {
			display: none;
		}

		.sort__select-wrapper {
			margin-right: rem(40);

			@media (max-width: em(1300)) {
				margin-right: 0;
			}
		}
	}
}

.choice-items-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 15px 0;

	// .choice-items-filter__list

	&__list {
		display: flex;
		margin-right: rem(11);

		li {
			height: rem(34);
			display: flex;
			align-items: center;
			background: var(--red-main);
			color: var(--text-white);
			border-radius: 5px;
			padding: rem(0) rem(10) rem(0) rem(8);
			position: relative;

			&:not(:last-child) {
				margin-right: rem(10);
			}

			span {
				white-space: nowrap;

				&:first-child {
					font-weight: 400;
					font-size: 14px;
					line-height: 22px;
					margin-right: rem(7);
				}
			}

			svg {
				width: 16px;
				height: 16px;
			}
		}

		@media (min-width:$mobile) {
			flex-wrap: wrap;
			gap: 10px 0;
		}

		@media (max-width:$mobile) {
			overflow: auto;
		}
	}

	// .choice-items-filter__del

	&__del {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		svg use {
			fill: var(--bg-white);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	// .choice-items-filter__reset

	&__reset {
		display: flex;
		align-items: center;

		&:hover {
			.choice-items-filter__svg {
				transform: rotate(180deg);
			}
		}
	}

	// .choice-items-filter__svg

	&__svg {
		width: 17px;
		height: 17px;
		margin-right: rem(11);
		transition: all 0.3s ease 0s;

		use {
			fill: #BCBCBC;
		}
	}

	// .choice-items-filter__span

	&__span {}
}

//========================================================================================================================================================