// .page {

// 	// .page__catalog-zero

// 	&__catalog-zero {
// 		margin-bottom: rem(100);
// 	}
// }

// .catalog-zero {
// 	display: grid;
// 	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
// 	gap: 80px;
// 	grid-auto-rows: 325px;

// 	@media (max-width:$laptop) {
// 		gap: 30px;
// 	}

// 	@media (max-width:$tablet) {
// 		grid-auto-rows: 200px;
// 	}

// 	// .catalog-zero__image-ibg

// 	&__image-ibg {
// 		color: #fff;
// 		font-size: 30px;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;

// 		span {
// 			position: relative;
// 			z-index: 3;
// 			text-align: center;
// 		}
// 	}
// }

// .back-btn {
// 	font-size: 17px;
// 	font-weight: 600;
// 	display: flex;
// 	gap: 13px;
// 	align-items: center;

// 	// .back-btn__svg

// 	&__svg {
// 		width: 18px;
// 		height: 13px;

// 		use {
// 			fill: #E52931;
// 		}
// 	}

// 	// .back-btn__span

// 	&__span {}
// }

// .main-catalog {

// 	// .main-catalog__sidebar-links

// 	&__sidebar-links {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 20px;
// 		margin-bottom: rem(30);

// 		@media (max-width:$tablet) {
// 			// display: none;
// 		}
// 	}

// 	// .main-catalog__sidebar-link

// 	&__sidebar-link {
// 		font-size: 20px;
// 		font-weight: 600;
// 	}
// }

// .main-catalog {
// 	@include adaptiveValue("margin-bottom", 100, 30);

// 	// .main-catalog__row

// 	&__row {
// 		display: grid;
// 		grid-template-columns: 270px 1fr;
// 		gap: 60px;

// 		@media (max-width:$pc) {
// 			grid-template-columns: 260px 1fr;
// 		}

// 		@media (max-width:$laptopL) {
// 			gap: 30px;
// 		}

// 		@media (max-width:$laptop) {
// 			gap: 40px;
// 		}

// 		@media (max-width:$tablet) {
// 			display: block;
// 		}
// 	}

// 	// .main-catalog__sidebar

// 	&__sidebar {
// 		display: flex;
// 		flex-direction: column;
// 		position: relative;
// 		z-index: 15;
// 	}

// 	// .main-catalog__sidebar-categories 

// 	&__sidebar-categories {
// 		margin-bottom: rem(40);

// 		@media (max-width:$tablet) {
// 			// display: none;
// 		}
// 	}

// 	// .main-catalog__content

// 	&__content {

// 		@media (max-width:$tablet) {
// 			max-width: 100%;
// 		}
// 	}

// 	// .main-catalog__categories

// 	&__categories {
// 		display: grid;
// 		gap: 37px 20px;
// 		grid-template-columns: 1fr 1fr 1fr 1fr;
// 		margin-bottom: rem(80);

// 		@media (max-width: em(1400)) {
// 			grid-template-columns: 1fr 1fr 1fr;
// 		}

// 		@media (max-width: em(1200)) {
// 			grid-template-columns: 1fr 1fr;
// 		}

// 		@media (max-width:$tablet) {
// 			grid-template-columns: 1fr 1fr 1fr;
// 		}

// 		@media (max-width:$mobile) {
// 			grid-template-columns: 1fr 1fr;
// 		}

// 	}

// 	// .main-catalog__cat-link

// 	&__cat-link {
// 		// flex: 0 1 25%;
// 		// margin-right: rem(20);
// 		// margin-bottom: rem(37);
// 	}

// 	// .main-catalog__image-ibg

// 	&__image-ibg {
// 		display: block;
// 		padding-bottom: 66.6%;
// 		margin-bottom: rem(14);
// 	}

// 	// .main-catalog__link-span

// 	&__link-span {
// 		font-weight: 600;
// 		font-size: 17px;
// 		line-height: 21px;
// 	}

// 	// .main-catalog__sort

// 	&__sort {
// 		margin-bottom: rem(23);
// 	}

// 	// .main-catalog__filters-items

// 	&__filters-items {
// 		margin-bottom: rem(32);
// 	}

// 	// .main-catalog__cards

// 	&__cards {
// 		display: grid;
// 		grid-template-columns: repeat(3, 1fr);
// 		@include adaptiveValue("margin-bottom", 100, 30);
// 		gap: 70px 80px;

// 		@media (max-width:$pc) {
// 			gap: 50px 60px;
// 		}

// 		@media (max-width:$laptopL) {
// 			grid-template-columns: repeat(2, 1fr);
// 		}

// 		@media (max-width:$laptop) {
// 			gap: 40px 50px;
// 		}

// 		@media (max-width:$mobile) {
// 			gap: 30px 20px;
// 		}

// 		@media (max-width: em(374)) {
// 			grid-template-columns: 1fr;
// 		}

// 		@media (min-width:$mobile) {
// 			&.row {
// 				flex-direction: column;

// 				.product-card {
// 					display: flex;
// 					flex-direction: row;
// 					max-width: 1020px;

// 					&:not(:last-child) {
// 						border-bottom: 1px solid #C0B9B4;
// 					}

// 					&:hover {
// 						&:not(:last-child) {
// 							border-bottom: 0px solid transparent;
// 						}
// 					}
// 				}

// 				.product-card__link {
// 					flex: 1 1 auto;
// 					display: flex;
// 					flex-direction: row;
// 				}

// 				.product-card__image-ibg {
// 					padding: 0;
// 					flex: 0 0 101px;
// 					height: 125px;
// 					width: 101px;
// 					margin-right: rem(24);

// 					@media (max-width: em(1280)) {
// 						width: 77px;
// 						height: 95px;
// 						flex: 0 0 77px;
// 						margin-right: rem(10);
// 					}
// 				}

// 				.product-card__info {
// 					display: grid;
// 					flex: 1 1 auto;
// 					grid-template-columns: 1fr 150px;
// 					grid-template-rows: 1fr auto;
// 					grid-auto-flow: column;
// 					gap: 10px;
// 				}

// 				.product-card__name {
// 					// order: 1;
// 				}

// 				.product-card__prices {
// 					// order: 2;
// 					align-items: flex-start;
// 					flex-direction: column;

// 					.product-card__old-price {
// 						margin: 0;
// 						margin-top: rem(7);
// 					}
// 				}

// 				.product-card__tags {
// 					position: static;
// 					// order: 3;

// 					.tag {
// 						flex-direction: row;
// 						flex-wrap: wrap;

// 						.tag__item {
// 							&:not(:last-child) {
// 								margin-right: rem(5);
// 							}
// 						}
// 					}
// 				}

// 				.product-card__stock {
// 					// order: 4;
// 				}

// 				.product-card__footer {
// 					visibility: visible;
// 					opacity: 1;
// 					position: static;
// 					transform: translate(0px, 0px);
// 					padding: 0;
// 					box-shadow: none;
// 					flex-grow: 0;
// 					flex-shrink: 0;
// 					margin-left: rem(20);

// 					@media (max-width: em(1021)) {
// 						margin-left: 0;
// 					}

// 					@include adaptiveValue("flex-basis", 239, 127, 1920, 999.98, 1);

// 					@media (max-width:$tablet) {
// 						@include adaptiveValue("flex-basis", 190, 127, 999.98, 767.98, 1);
// 					}
// 				}

// 				.product-card__btn-favorites {
// 					right: auto;
// 					left: 10px;
// 				}
// 			}
// 		}
// 	}

// 	// .main-catalog__pagging

// 	&__pagging {}


// 	// .main-catalog__load-more

// 	&__load-more {
// 		display: block;
// 		width: 100%;
// 		background-color: #fff;
// 		border: 1px solid #000000;
// 		border-radius: 3px;
// 		height: 48px;
// 		transition: all 0.3s ease 0s;

// 		&:hover {
// 			background-color: #000;
// 			color: #fff;
// 		}
// 	}
// }

// //========================================================================================================================================================

// .category {
// 	// .category__title

// 	&__title {
// 		font-size: 20px;
// 		font-weight: 600;
// 	}

// 	// .category__col

// 	&__col {
// 		display: flex;
// 		flex-direction: column;

// 		@media (min-width:$mobile) {
// 			margin-left: rem(-19);
// 			padding-left: rem(19);

// 		}
// 	}

// 	// .category__link

// 	&__link {
// 		padding: rem(17) rem(19);
// 		position: relative;
// 		font-size: 16px;
// 		line-height: 20px;
// 		--notchSize: 25px;
// 		clip-path:
// 			polygon(0% 0px,
// 				0 0%,
// 				100% 0%,
// 				100% 0%,
// 				100% calc(100% - var(--notchSize)),
// 				calc(100% - var(--notchSize)) 100%,
// 				0 100%,
// 				0% 0);


// 		&._active,
// 		&:hover {
// 			background: var(--bg-grey-light);
// 		}
// 	}

// 	// .category__more

// 	&__more {
// 		color: #525252;
// 		font-size: 14px;
// 		line-height: 21px;
// 		text-decoration: underline 1px dashed #000;
// 		padding-left: rem(19);

// 		&:hover {
// 			text-decoration: none;
// 		}
// 	}
// }

// .filters {

// 	// .filters__title

// 	&__title {
// 		font-weight: 600;
// 		font-size: 30px;
// 		line-height: 37px;
// 		margin-bottom: rem(27);

// 		@media (max-width:$tablet) {
// 			display: none;
// 		}
// 	}

// 	// .filters__wrapper

// 	&__wrapper {
// 		padding: 0 rem(12);
// 		margin: 0px rem(-12);
// 		margin-bottom: rem(16);

// 		@media (max-width:$tablet) {
// 			display: none;
// 		}
// 	}

// 	// .filters__price

// 	&__price {
// 		margin-bottom: rem(33);
// 	}

// 	// .filters__box

// 	&__box {
// 		padding-bottom: rem(40);

// 		.showmore__button {
// 			margin-top: 0;
// 			color: #525252;
// 			font-size: 14px;
// 			line-height: 21px;
// 			text-decoration: underline 1px dashed #000;

// 			&:hover {
// 				text-decoration: none;
// 			}
// 		}

// 		&._showmore-active {
// 			.showmore__button {
// 				margin-top: rem(8);
// 			}
// 		}
// 	}

// 	// .filters__box-header

// 	&__box-header {
// 		display: flex;
// 		align-items: center;
// 		margin-bottom: rem(18);
// 	}

// 	// .filters__filter-title

// 	&__filter-title {
// 		font-weight: 600;
// 		font-size: 17px;
// 		line-height: 21px;
// 		margin-right: rem(15);

// 	}

// 	// .filters__tippy

// 	&__tippy {}

// 	// .filters__box-content

// 	&__box-content {
// 		padding-left: rem(5);
// 		margin-left: rem(-5);

// 		.checkbox {
// 			position: relative;

// 			&:not(:last-child) {
// 				padding-bottom: em(14);
// 			}
// 		}
// 	}


// 	// .filters__bottom

// 	&__bottom {
// 		display: flex;
// 	}


// 	// .filters__reset-btn

// 	&__reset-btn {
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;
// 		height: 34px;
// 		padding: 0 8px;
// 		margin-top: rem(28);
// 		cursor: pointer;

// 		@media (max-width:$tablet) {
// 			display: none;
// 		}

// 		&:hover {
// 			.filters__reset-svg {
// 				transform: rotate(180deg);
// 			}
// 		}
// 	}

// 	// .filters__reset-svg

// 	&__reset-svg {
// 		width: 17px;
// 		height: 17px;
// 		margin-right: rem(11);
// 		transition: all 0.3s ease 0s;

// 		use {
// 			fill: #BCBCBC;
// 		}
// 	}

// 	// .filters__more-btn

// 	&__more-btn {
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 		cursor: pointer;

// 		@media (max-width:$tablet) {
// 			display: none;
// 		}
// 	}

// 	// .filters__more-svg

// 	&__more-svg {
// 		width: 20px;
// 		height: 20px;

// 		use {
// 			fill: #3D4A62;
// 		}
// 	}
// }

// .sort {
// 	@media (max-width:$mobile) {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}

// 	.filters__more-btn {
// 		display: none;

// 		@media (max-width:$tablet) {
// 			display: inline-flex;
// 			margin-top: rem(15);

// 			span {
// 				margin-left: rem(10);
// 			}
// 		}

// 		@media (max-width:$mobile) {
// 			width: 55px;
// 			height: 55px;
// 			flex: 0 0 55px;
// 			justify-content: center;
// 			align-items: center;
// 			margin-top: 0;
// 			background: #EBEBEB;
// 			border: none;

// 			svg {
// 				use {
// 					fill: #E52931;
// 				}
// 			}

// 			span {
// 				display: none;
// 			}

// 		}
// 	}

// 	// .sort__row

// 	&__row {
// 		display: flex;
// 		justify-content: space-between;

// 		@media (max-width:$mobile) {
// 			flex-direction: column;
// 			align-items: flex-start;
// 			margin-right: rem(10);
// 			gap: 10px 0;
// 		}
// 	}

// 	// .sort__left

// 	&__left {
// 		display: flex;
// 		align-items: center;

// 		@media (max-width: em(1300)) {
// 			flex-direction: column;
// 			align-items: flex-start;
// 			justify-content: space-between;
// 			gap: 10px;
// 		}
// 	}

// 	// .sort__title

// 	&__title {
// 		font-weight: 400;
// 		font-size: 16px;
// 		line-height: 24px;
// 		margin-right: rem(14);

// 		@media (max-width:$mobile) {
// 			display: none;
// 		}
// 	}

// 	// .sort__select-wrapper

// 	&__select-wrapper {}

// 	// .sort__right

// 	&__right {
// 		display: flex;
// 		align-items: center;

// 		@media (max-width: em(1300)) {
// 			flex-direction: column-reverse;
// 			align-items: flex-end;
// 			gap: 10px;
// 		}

// 		@media (max-width:$mobile) {
// 			display: none;
// 		}

// 		.sort__select-wrapper {
// 			margin-right: rem(40);

// 			@media (max-width: em(1300)) {
// 				margin-right: 0;
// 			}
// 		}
// 	}

// 	// .sort__layout

// 	&__layout {
// 		display: flex;

// 		@media (max-width:$mobile) {
// 			display: none;
// 		}
// 	}

// 	// .sort__layout-button

// 	&__layout-button {
// 		width: 40px;
// 		height: 40px;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		opacity: 0.5;

// 		&._active {
// 			opacity: 1;
// 		}
// 	}

// 	// .sort__layout-svg

// 	&__layout-svg {
// 		width: 22px;
// 		height: 18px;

// 		use {
// 			fill: #EB7A1D;
// 		}
// 	}
// }

// .choice-items-filter {
// 	display: flex;
// 	flex-wrap: wrap;
// 	gap: 15px 0;
// 	// .choice-items-filter__list

// 	&__list {
// 		display: flex;
// 		margin-right: rem(11);

// 		li {
// 			height: rem(34);
// 			display: flex;
// 			align-items: center;
// 			background: var(--red-main);
// 			color: var(--text-white);
// 			border-radius: 5px;
// 			padding: rem(0) rem(10) rem(0) rem(8);
// 			position: relative;

// 			&:not(:last-child) {
// 				margin-right: rem(10);
// 			}

// 			span {
// 				white-space: nowrap;

// 				&:first-child {
// 					font-weight: 400;
// 					font-size: 14px;
// 					line-height: 22px;
// 					margin-right: rem(7);
// 				}
// 			}

// 			svg {
// 				width: 16px;
// 				height: 16px;
// 			}
// 		}

// 		@media (min-width:$mobile) {
// 			flex-wrap: wrap;
// 			gap: 10px 0;
// 		}

// 		@media (max-width:$mobile) {
// 			overflow: auto;
// 		}
// 	}

// 	// .choice-items-filter__del

// 	&__del {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		cursor: pointer;

// 		svg use {
// 			fill: var(--bg-white);
// 		}

// 		&::after {
// 			content: '';
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 100%;
// 			height: 100%;
// 		}
// 	}

// 	// .choice-items-filter__reset

// 	&__reset {
// 		display: flex;
// 		align-items: center;

// 		&:hover {
// 			.choice-items-filter__svg {
// 				transform: rotate(180deg);
// 			}
// 		}
// 	}

// 	// .choice-items-filter__svg

// 	&__svg {
// 		width: 17px;
// 		height: 17px;
// 		margin-right: rem(11);
// 		transition: all 0.3s ease 0s;

// 		use {
// 			fill: #BCBCBC;
// 		}
// 	}

// 	// .choice-items-filter__span

// 	&__span {}
// }

// .price {

// 	// .price__inputs

// 	&__inputs {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 		margin-bottom: rem(25);
// 	}

// 	// .price__input

// 	&__input {
// 		flex: 0 0 100px;
// 		width: 100px;
// 		-moz-appearance: textfield;
// 		background: #FFFFFF;
// 		border: 1px solid rgba(0, 0, 0, 0.230742);
// 		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
// 		border-radius: 5px;
// 		text-align: center;
// 		height: 48px;
// 		padding: 5px 10px;

// 		&::-webkit-outer-spin-button,
// 		&::-webkit-inner-spin-button {
// 			-webkit-appearance: none;
// 			margin: 0;
// 		}
// 	}

// 	// .price__range-slider

// 	&__range-slider {
// 		padding: 10px;
// 	}
// }


//========================================================================================================================================================
//========================================================================================================================================================


.main-catalog {
	@include adaptiveValue("margin-bottom", 100, 30);
	// .main-catalog__row

	&__row {
		display: grid;
		grid-template-columns: 270px 1fr;
		gap: 60px;

		@media (max-width:$pc) {
			grid-template-columns: 260px 1fr;
		}

		@media (max-width:$laptopL) {
			gap: 30px;
		}

		@media (max-width:$laptop) {
			gap: 40px;
		}

		@media (max-width:$tablet) {
			display: block;
		}
	}

	// .main-catalog__sidebar

	&__sidebar {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 15;
	}

	// .main-catalog__sidebar-links

	&__sidebar-links {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: rem(30);

		@media (max-width:$tablet) {
			margin-bottom: rem(15);
		}
	}

	// .main-catalog__sidebar-link

	&__sidebar-link {
		font-size: 20px;
		font-weight: 600;
	}

	// .main-catalog__sidebar-categories

	&__sidebar-categories {
		margin-bottom: rem(40);
	}

	// .main-catalog__filters

	&__filters {
		@media (max-width:$tablet) {
			display: none;
		}
	}

	// .main-catalog__content

	&__content {
		@media (max-width:$tablet) {
			max-width: 100%;
		}
	}

	// .main-catalog__sort

	&__sort {
		margin-bottom: rem(23);

		@media (max-width:$mobile) {
			margin-bottom: rem(7);
		}
	}

	// .main-catalog__filters-items

	&__filters-items {
		margin-bottom: rem(32);
	}

	// .main-catalog__cards

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
		@include adaptiveValue("margin-bottom", 100, 30);
		gap: 40px 0px;

		@media (max-width: em(590)) {
			gap: 0;
			grid-template-columns: 1fr;
		}
	}

	// .main-catalog__pagging

	&__pagging {}
}

.back-btn {
	font-size: 17px;
	font-weight: 600;
	display: flex;
	gap: 13px;
	align-items: center;

	// .back-btn__svg

	&__svg {
		width: 18px;
		height: 13px;

		use {
			fill: #E52931;
		}
	}

	// .back-btn__span

	&__span {}
}

.category {
	padding-bottom: rem(20);
	border-image-slice: 0 27 25 27;
	border-image-width: 20px 20px 20px 20px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("../img/buttons/border-grey-for-filters.svg");
	border-style: solid;

	// .category__col

	&__col {
		display: flex;
		flex-direction: column;

		@media (min-width:$mobile) {
			margin-left: rem(-19);
			padding-left: rem(19);

		}
	}

	// .category__link

	&__link {
		padding: rem(17) rem(19);
		position: relative;
		font-size: 16px;
		line-height: 20px;
		--notchSize: 25px;
		clip-path:
			polygon(0% 0px,
				0 0%,
				100% 0%,
				100% 0%,
				100% calc(100% - var(--notchSize)),
				calc(100% - var(--notchSize)) 100%,
				0 100%,
				0% 0);

		@media (max-width:$tablet) {
			padding: rem(12) rem(15);
		}

		&._active,
		&:hover {
			background: var(--bg-grey-light);
		}
	}

	// .category__more

	&__more {
		color: #525252;
		font-size: 14px;
		line-height: 21px;
		text-decoration: underline 1px dashed #000;
		padding-left: rem(19);
		display: block;
		width: 100%;
		text-align: left;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			height: 34px;
			box-shadow: 0px -16px 20px 14px rgb(255 255 255);
			transition: all 0.3s ease 0s;

			._showmore-active & {
				box-shadow: 0 0 0px rgba(0, 0, 0, 0);
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.filters {

	// .filters__wrapper

	&__wrapper {
		margin-bottom: rem(16);

		@media (max-width:$tablet) {
			display: none;

			.popup__filters & {
				display: block;
			}
		}
	}

	// .filters__col

	&__col {
		@media (min-width:$tablet) {
			padding-bottom: rem(20);
			border-image-slice: 0 27 25 27;
			border-image-width: 20px 20px 20px 20px;
			border-image-outset: 0px 0px 0px 0px;
			border-image-repeat: stretch stretch;
			border-image-source: url("../img/buttons/border-grey-for-filters.svg");
			border-style: solid;
		}
	}

	// .filters__price

	&__price {
		margin-bottom: rem(33);
	}

	// .filters__box-header

	&__box-header {
		display: flex;
		align-items: center;
		margin-bottom: rem(18);
	}

	// .filters__filter-title

	&__filter-title {
		font-weight: 600;
		font-size: 17px;
		line-height: 21px;
		margin-right: rem(15);
	}

	// .filters__box

	&__box {
		padding-bottom: rem(40);
	}

	// .filters__box-content

	&__box-content {
		padding-left: rem(5);
		margin-left: rem(-5);
	}

	// .filters__bottom

	&__bottom {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	// .filters__reset-btn

	&__reset-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34px;
		padding: 0 8px;
		cursor: pointer;
		font-size: 14px;
		line-height: 22px;

		@media (max-width:$tablet) {
			display: none;
		}

		&:hover {
			.filters__reset-svg {
				transform: rotate(180deg);
			}
		}
	}

	// .filters__reset-svg

	&__reset-svg {
		width: 17px;
		height: 17px;
		margin-right: rem(11);
		transition: all 0.3s ease 0s;

		use {
			fill: #8A8A8A;
		}
	}

	// .filters__show-btn

	&__show-btn {}

	// .filters__title

	&__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: rem(27);
	}

	// .filters__find-block

	&__find-block {
		border-radius: 3px;
		position: fixed;
		z-index: 10;
		bottom: 12px;
		left: 8px;
		right: 8px;
		background: #4C4C4C;
		color: var(--text-white);
		padding: rem(9) rem(16);
		display: grid;
		grid-template-columns: 75px 1fr;
		gap: 30px;
		align-items: center;
	}

	// .filters__find-count

	&__find-count {
		font-size: 12px;
	}

	// .filters__apply-btn

	&__apply-btn {
		background: var(--bg-white);
		color: var(--text-black);
		font-size: 16px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(48);
		border-radius: 3px;
	}

	// .filters__more-btn

	&__more-btn {
		width: 55px;
		height: 55px;
		flex: 0 0 55px;
		justify-content: center;
		align-items: center;
		margin-top: 0;
		background: #eee;
		border: none;
		border-radius: 3px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (min-width:$tablet) {
			display: none;
		}

		svg {
			use {
				fill: var(--red-main);
			}
		}
	}

	// .filters__more-svg

	&__more-svg {
		width: 20px;
		height: 20px;

		use {
			fill: #3D4A62;
		}
	}
}

.price {

	// .price__inputs

	&__inputs {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem(25);
	}

	// .price__input

	&__input {
		flex: 0 0 100px;
		width: 100px;
		-moz-appearance: textfield;
		background: #FFFFFF;
		border: 1px solid rgba(0, 0, 0, 0.230742);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
		border-radius: 5px;
		text-align: center;
		height: 48px;
		padding: 5px 10px;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	// .price__range-slider

	&__range-slider {
		padding: 10px;
	}
}

.sort {
	@media (max-width:$mobile) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .sort__row

	&__row {
		display: flex;
		justify-content: space-between;

		@media (max-width:$tablet) {
			margin-bottom: rem(10);
		}

		@media (max-width:$mobile) {
			flex-direction: column;
			align-items: flex-start;
			margin-right: rem(10);
			margin-bottom: 0;
			gap: 10px 0;
		}
	}

	// .sort__left

	&__left {
		display: flex;
		align-items: center;

		@media (max-width: em(1300)) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			gap: 10px;
		}
	}

	// .sort__title

	&__title {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-right: rem(14);

		@media (max-width:$mobile) {
			display: none;
		}
	}

	// .sort__select-wrapper

	&__select-wrapper {}

	// .sort__right

	&__right {
		display: flex;
		align-items: center;

		@media (max-width: em(1300)) {
			flex-direction: column-reverse;
			align-items: flex-end;
			gap: 10px;
		}

		@media (max-width:$mobile) {
			display: none;
		}

		.sort__select-wrapper {
			margin-right: rem(40);

			@media (max-width: em(1300)) {
				margin-right: 0;
			}
		}
	}
}

.choice-items-filter {
	display: flex;
	flex-wrap: wrap;
	gap: 15px 0;

	// .choice-items-filter__list

	&__list {
		display: flex;
		margin-right: rem(11);

		li {
			height: rem(34);
			display: flex;
			align-items: center;
			background: var(--red-main);
			color: var(--text-white);
			border-radius: 5px;
			padding: rem(0) rem(10) rem(0) rem(8);
			position: relative;

			&:not(:last-child) {
				margin-right: rem(10);
			}

			span {
				white-space: nowrap;

				&:first-child {
					font-weight: 400;
					font-size: 14px;
					line-height: 22px;
					margin-right: rem(7);
				}
			}

			svg {
				width: 16px;
				height: 16px;
			}
		}

		@media (min-width:$mobile) {
			flex-wrap: wrap;
			gap: 10px 0;
		}

		@media (max-width:$mobile) {
			overflow: auto;
		}
	}

	// .choice-items-filter__del

	&__del {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		svg use {
			fill: var(--bg-white);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	// .choice-items-filter__reset

	&__reset {
		display: flex;
		align-items: center;

		&:hover {
			.choice-items-filter__svg {
				transform: rotate(180deg);
			}
		}
	}

	// .choice-items-filter__svg

	&__svg {
		width: 17px;
		height: 17px;
		margin-right: rem(11);
		transition: all 0.3s ease 0s;

		use {
			fill: #BCBCBC;
		}
	}

	// .choice-items-filter__span

	&__span {}
}

//========================================================================================================================================================
//========================================================================================================================================================


.popup {

	// .popup__wrapper

	&__wrapper {}

	// .popup__content

	&__content {}

	// .popup__close

	&__close {}

	// .popup__close-svg

	&__close-svg {}

	// .popup__filters

	&__filters {}
}