.favorites {

	// .favorites__sort

	&__sort {
		margin-bottom: rem(37);
	}

	// .favorites__cards

	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
		@include adaptiveValue("margin-bottom", 100, 30);
		gap: 40px 0px;

		@media (max-width: em(590)) {
			gap: 0;
			grid-template-columns: 1fr;
		}


		@media (min-width:$mobile) {
			&.row {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;

				.product-card {
					display: flex;
					flex-direction: row;
					max-width: 1020px;

					&:not(:last-child) {
						border-bottom: 1px solid #C0B9B4;
					}

					&:hover {
						&:not(:last-child) {
							border-bottom: 0px solid transparent;
						}
					}
				}

				.product-card__link {
					flex: 1 1 auto;
					flex-direction: row;
					display: flex;
				}

				.product-card__image-ibg {
					padding: 0;
					flex: 0 0 101px;
					height: 125px;
					width: 101px;
					margin-right: rem(24);

					@media (max-width: em(1280)) {
						width: 77px;
						height: 95px;
						flex: 0 0 77px;
						margin-right: rem(10);
					}
				}

				.product-card__info {
					display: grid;
					flex: 1 1 auto;
					grid-template-columns: 1fr 150px;
					grid-template-rows: 1fr auto;
					grid-auto-flow: column;
					gap: 10px;
				}

				.product-card__name {
					// order: 1;
				}

				.product-card__prices {
					// order: 2;
					align-items: flex-start;
					flex-direction: column;

					.product-card__old-price {
						margin: 0;
						margin-top: rem(7);
					}
				}

				.product-card__tags {
					position: static;
					// order: 3;

					.tag {
						flex-direction: row;
						flex-wrap: wrap;

						.tag__item {
							&:not(:last-child) {
								margin-right: rem(5);
							}
						}
					}
				}

				.product-card__stock {
					// order: 4;
				}

				.product-card__footer {
					visibility: visible;
					opacity: 1;
					position: static;
					transform: translate(0px, 0px);
					padding: 0;
					box-shadow: none;
					flex-grow: 0;
					flex-shrink: 0;
					margin-left: rem(20);

					@media (max-width: em(1021)) {
						margin-left: 0;
					}

					@include adaptiveValue("flex-basis", 239, 127, 1920, 999.98, 1);

					@media (max-width:$tablet) {
						@include adaptiveValue("flex-basis", 190, 127, 999.98, 767.98, 1);
					}
				}

				.product-card__btn-favorites {
					right: auto;
					left: 10px;
				}
			}
		}

	}

	// .favorites__pagging

	&__pagging {
		margin-bottom: rem(28);
	}

	// .favorites__button

	&__button {
		width: 100%;
	}
}