//====================================================================================================
.first-block {
   padding-bottom: rem(40);
   position: relative;

   @media (max-width:$laptop) {
      padding-bottom: rem(100);
   }

   @media (max-width:$tablet) {
      padding-bottom: rem(34);
   }

   &::before {
      content: '';
      background: var(--bg-grey);
      position: absolute;
      top: calc(0px - var(--header-height));
      left: calc(0px - var(--left-cat-btn));
      width: calc(100% + var(--left-cat-btn));
      height: calc(100% + var(--header-height));

      @media (max-width:$tablet) {
         top: -25px;
         height: calc(100% + 25px);
      }
   }

   // .first-block__container

   &__container {
      display: grid;
      grid-template-columns: 2.17fr 1fr;
      @include adaptiveValue("grid-template-rows", 668, 423, 0, 1920, 1440);
      gap: 75px;

      @media (max-width:$laptopL) {
         gap: 48px;
      }

      @media (max-width:$laptop) {
         grid-template-rows: 357px;
         gap: 20px;
      }

      @media (max-width:$tablet) {
         grid-template-columns: 1fr;
         grid-template-rows: 397px auto;
      }

      @media (max-width:$mobile) {
         grid-template-rows: 397px auto;
      }

      @media (max-width:$mobileMiddle) {
         grid-template-rows: 220px auto;
      }
   }

   // .first-block__links

   &__links {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      gap: 36px;

      @media (max-width:$laptopL) {
         gap: 20px;
      }

      @media (max-width:$tablet) {
         @include adaptiveValue("grid-template-rows", 297, 197, 0, 991, 680);
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$mobileMiddle) {
         grid-template-columns: 1fr;
         grid-template-rows: repeat(2, 220px);
      }
   }


   // .first-block__slider

   &__slider {
      position: relative;
   }

   // .first-block__wrapper

   &__wrapper {}

   // .first-block__slide

   &__slide {}

   // .first-block__image-ibg

   &__image-ibg {}


   // .first-block__image-ibg

   &__image-ibg {
      width: 100%;
      height: 100%;
      display: block;

      img {
         z-index: 1;
         object-position: top left;
      }

      &::before {
         content: '';
         position: absolute;
         width: 20px;
         height: 105px;
         right: 0;
         bottom: 0;
         background: url(../img/icons/first-block__image-rect.svg);
         z-index: 2;
      }
   }

   // .first-block__link-ibg

   &__link-ibg {
      img {
         z-index: 1;
         object-position: top left;
      }

      &::before {
         content: '';
         position: absolute;
         width: 20px;
         height: 105px;
         right: 0;
         bottom: 0;
         background: url(../img/icons/first-block__image-rect.svg);
         z-index: 2;
      }

      &::after {
         content: '';
         position: absolute;
         bottom: 45px;
         left: 32px;
         width: 48px;
         height: 48px;
         background: url(../img/icons/first-block__link-icon.svg);
         z-index: 2;

         @media (max-width:$laptop) {
            bottom: 20px;
         }
      }
   }
}

//====================================================================================================

.automakers {
   padding-top: rem(65);
   padding-bottom: rem(50);

   @media (max-width:$laptopL) {
      padding-top: rem(40);
      padding-bottom: rem(30);
   }

   @media (max-width:$mobile) {
      padding-top: rem(30);
      padding-bottom: rem(15);
   }

   // .automakers__container

   &__container {}

   // .automakers__title

   &__title {
      text-align: center;
      font-size: 36px;
      font-weight: 800;
      line-height: normal;
      margin-bottom: rem(17);

      @media (max-width:$mobile) {
         font-size: 26px;
         margin-bottom: rem(9);
      }
   }

   // .automakers__subtitle

   &__subtitle {
      text-align: center;
      font-size: 18px;
      line-height: normal;
      margin-bottom: rem(54);

      @media (max-width:$laptopL) {
         margin-bottom: rem(45);
      }

      @media (max-width:$mobile) {
         margin-bottom: rem(31);
      }

      @media (max-width:$mobileSmall) {
         margin-bottom: rem(24);
      }
   }

   // .automakers__row

   &__row {
      display: grid;
      gap: 40px 60px;
      grid-template-columns: repeat(6, 1fr);
      max-width: 1464px;
      margin: 0 auto;

      @media (max-width:$pc) {
         grid-template-columns: repeat(3, 1fr);
         max-width: 746px;
      }

      @media (max-width:$mobile) {
         gap: 30px 14px;
      }

      @media (max-width: em(679.98)) {
         grid-template-columns: repeat(2, 1fr);
         gap: 17px 10px;
      }
   }

   // .automakers__link

   &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: var(--bg-grey-super-light);
      padding: rem(30) rem(19) rem(44) rem(17);
      position: relative;
      transition: background 0.3s ease 0s;

      &:hover {
         background: var(--red-main);

         .automakers__name {
            color: var(--text-white);
         }

         .automakers__logo use,
         .automakers__link-icon use {
            fill: var(--bg-white);
         }
      }

      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         right: -2px;
         width: 24px;
         height: 128px;
         background: url(../img/automakers__link-rect.svg);
      }
   }

   // .automakers__logo

   &__logo {
      width: 111px;
      height: 111px;
      margin-bottom: rem(17);

      @media (max-width:$mobile) {
         width: 81px;
         height: 81px;
         margin-bottom: rem(10);
      }

      use {
         fill: var(--bg-black);
         transition: all 0.3s ease 0s;
      }
   }

   // .automakers__name

   &__name {
      color: var(--red-main);
      text-align: center;
      font-size: 26px;
      font-weight: 600;
      line-height: 40px;
      margin-bottom: rem(61);
      text-transform: uppercase;
      transition: all 0.3s;

      @media (max-width:$mobile) {
         font-size: 16px;
         margin-bottom: rem(20);
      }
   }

   // .automakers__link-icon

   &__link-icon {
      width: 48px;
      height: 48px;

      use {
         fill: #7C7C7C;
         transition: all 0.3s ease 0s;
      }
   }
}

//========================================================================================================================================================

.autoparts {
   padding-top: rem(50);
   padding-bottom: rem(50);

   @media (max-width:$laptopL) {
      padding-top: rem(30);
      padding-bottom: rem(35);
   }

   @media (max-width:$mobile) {
      padding-top: rem(15);
      padding-bottom: rem(25);
   }

   // .autoparts__container

   &__container {}

   // .autoparts__tabs

   &__tabs {}

   // .autoparts__navigation

   &__navigation {
      display: flex;
      gap: 52px;
      margin-bottom: rem(38);
      padding-left: rem(72);
      overflow: auto;
      @extend %hidescroll;

      @media (max-width:$laptopL) {
         padding-left: 0;
         gap: 32px;
      }

      @media (max-width:$tablet) {
         margin-bottom: rem(13);
      }
   }

   // .autoparts__title

   &__title {
      font-size: 36px;
      font-weight: 800;
      line-height: normal;
      opacity: 0.2;
      white-space: nowrap;

      @media (max-width:$laptopL) {
         font-size: 26px;
      }

      // ._tab-active

      &._tab-active,
      &:hover {
         opacity: 1;
      }
   }

   // .autoparts__content

   &__content {}

   // .autoparts__body

   &__body {}

   // .autoparts__row

   &__row {
      display: grid;
      grid-template-columns: 1fr 650px;
      gap: 53px;

      @media (max-width:$laptopL) {
         gap: 45px;
      }

      @media (max-width:$laptop) {
         gap: 10px;
         grid-template-columns: 1fr 600px;
      }

      @media (max-width:$tablet) {
         grid-template-columns: 1fr;
      }
   }

   // .autoparts__image-ibg

   &__image-ibg {
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         right: 0;
         width: 24px;
         height: 58px;
         background: url(../img/autoparts__link-rect.svg);
      }

      @media (max-width:$tablet) {
         display: none;
      }
   }

   // .autoparts__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 219px;
      gap: 11px;

      @media (max-width: em(600)) {
         grid-template-columns: 1fr;
         grid-auto-rows: 156px;
      }
   }

   // .autoparts__link

   &__link {
      background: var(--bg-grey-light);
      position: relative;
      padding: rem(24) rem(34);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: space-between;

      img {
         justify-self: end;
         align-self: end;

         @media (max-width: em(600)) {
            width: 100px;
            height: 100px;
            object-fit: contain;
         }
      }

      &:hover {
         background: var(--red-main);

         .autoparts__name {
            color: var(--text-white);
         }

         .autoparts__link-icon {
            opacity: 1;

            use {
               fill: var(--bg-white);
            }
         }
      }

      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         right: 0;
         width: 24px;
         height: 58px;
         background: url(../img/autoparts__link-rect.svg);
      }
   }

   // .autoparts__name

   &__name {
      grid-column: 1/3;
   }

   // .autoparts__link-icon

   &__link-icon {
      margin-bottom: rem(10);
      align-self: end;
      justify-self: start;
      width: 48px;
      height: 48px;
      opacity: 0.3;
   }
}

//========================================================================================================================================================

.banners {
   padding: rem(50) 0;

   @media (max-width:$laptopL) {
      padding: rem(35) 0;
   }

   @media (max-width:$mobile) {
      padding: rem(25) 0;
   }

   // .banners__container

   &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 215px;
      gap: 54px;

      @media (max-width:$laptopL) {
         grid-template-columns: 1fr;
         height: auto;
         grid-auto-rows: minmax(215px, 1fr);
         gap: 32px;
      }
   }

   // .banners__item

   &__item {
      position: relative;
      padding: rem(26) rem(30);
      background: var(--bg-black);

      @media (min-width:$mobile) {

         &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 179px;
            height: 20px;
            background: url(../img/banners__item-rect.svg);
            transform: scale(-1, 1);
            z-index: 3;
         }

         &:last-child {
            &::after {
               transform: scale(1);
               right: auto;
               left: 0;
            }
         }
      }
   }

   // .banners__item-text

   &__item-text {
      color: var(--text-white);
      font-size: 26px;
      font-weight: 600;
      line-height: 40px;
      position: relative;
      z-index: 2;
      max-width: 497px;

      @media (max-width:$mobile) {
         font-size: 22px;
      }
   }

   // .banners__red-text

   &__red-text {
      background: var(--red-main);
      border-radius: 5px;
      padding: 0 rem(5);
   }

   // .banners__item-ibg

   &__item-ibg {
      z-index: 1;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;

      img {
         object-position: bottom right;

         @media (max-width:$mobile) {
            object-position: right center;
            object-fit: cover;
            opacity: 0.5;
         }
      }
   }
}

//========================================================================================================================================================

.about {
   padding: rem(60) 0;

   @media (max-width:$laptopL) {
      padding-top: rem(55);
      padding-bottom: rem(35);
   }

   @media (max-width:$laptop) {
      padding: rem(35) 0;
   }

   @media (max-width:$mobile) {
      padding: rem(15)0;
   }

   // .about__container

   &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;

      @media (max-width:$laptopL) {
         gap: 50px;
      }

      @media (max-width:$laptop) {
         grid-template-columns: 1fr 457px;
      }

      @media (max-width:$tablet) {
         grid-template-columns: 1fr;
         gap: 30px;
      }
   }

   // .about__content

   &__content {}

   // .about__title

   &__title {
      font-size: 36px;
      font-weight: 800;
      line-height: normal;
      margin-bottom: rem(30);

      @media (max-width:$mobile) {
         font-size: 26px;
         margin-bottom: rem(20);
      }
   }

   // .about__descr

   &__descr {
      line-height: 28px;
      margin-bottom: rem(36);

      p {
         margin-bottom: rem(20);
      }
   }

   // .about__link

   &__link {
      &:hover {
         .about__link-icon {
            use {
               fill: #000;
            }
         }
      }
   }

   // .about__link-icon

   &__link-icon {
      width: 48px;
      height: 48px;

      use {
         fill: #7C7C7C;
      }
   }

   // .about__image-ibg

   &__image-ibg {
      @media (min-width:$tablet) {
         &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 24px;
            height: 262px;
            background: url(../img/about-rect.svg);
         }
      }

      @media (max-width:$laptop) {
         height: 457px;
      }

      @media (max-width:$tablet) {
         height: 295px;
         grid-row: 1/2;
      }

      @media (max-width:$mobileSmall) {
         height: 158px;
      }

      img {}
   }
}