.product-slider {
   padding: rem(45) 0;

   @media (max-width:$laptopL) {
      padding: rem(35) 0;
   }

   @media (max-width:$tablet) {
      padding: rem(25) 0;
   }

   @media (max-width:$mobileMiddle) {
      padding: rem(15) 0;
   }

   // .product-slider__container

   &__container {}

   // .product-slider__header

   &__header {
      margin-bottom: rem(28);
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      @media (max-width:$tablet) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   // .product-slider__title

   &__title {
      font-size: 36px;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;

      @media (max-width:$tablet) {
         font-size: 26px;
      }
   }

   // .product-slider__nav-btns

   &__nav-btns {
      display: grid;
      grid-template-columns: 63px 118px;
      height: 63px;
      gap: 20px;
   }

   // .product-slider__swiper-button

   &__swiper-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--bg-grey-light);
      border-radius: 5px;

      &:hover {
         background: var(--red-main);

         .product-slider__button-svg use {
            fill: var(--bg-white);
         }
      }
   }

   // .product-slider__button-svg

   &__button-svg {
      width: 22px;
      height: 14px;
   }

   // .product-slider__slider

   &__slider {}

   // .product-slider__wrapper

   &__wrapper {}

   // .product-slider__slide

   &__slide {}
}