// #region sidebar-catalog-btn
@media (min-width:$pc) {
   .sidebar-catalog-open {
      .index-page {
         .sidebar-catalog-btn {
            background: url(../img/sidebar-catalog-btn-active.svg) no-repeat top left;
         }
      }
   }
}

.sidebar-catalog-btn {
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   height: 100vh;
   width: var(--left-cat-btn);
   background: var(--btn-main-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: rem(47);
   transition: all 0.3s ease 0s;
   clip-path: polygon(100% 0, 100% 139px, 86% 165px, 86% 100%, 0 100%, 0 0);

   @media (min-width:$tablet) {
      .index-page & {
         background: var(--red-main);

         .sidebar-catalog-btn__text {
            color: var(--text-white);
         }

         .sidebar-catalog-btn__icon {
            use {
               fill: var(--text-white);
            }
         }
      }

      ._header-scroll & {
         background: var(--btn-main-color);

         .sidebar-catalog-btn__text {
            color: var(--text-black);
         }

         .sidebar-catalog-btn__icon {
            use {
               fill: var(--red-logo);
            }
         }
      }

      &:hover {
         background: var(--bg-black);

         .sidebar-catalog-btn__text {
            color: var(--text-white);
         }

         .sidebar-catalog-btn__icon {

            use {
               fill: var(--text-white);
            }
         }
      }
   }

   @media (max-width:$pc) {
      clip-path: polygon(100% 0, 100% 139px, 81% 163px, 81% 100%, 0 100%, 0 0);
   }

   @media (max-width:$laptop) {
      clip-path: polygon(100% 0, 100% 139px, 76% 163px, 76% 100%, 0 100%, 0 0);
   }

   @media (max-width:$tablet) {
      --notchSize: 50px;
      position: static;
      width: 100%;
      height: auto;
      padding: 0px rem(30);
      justify-content: center;
      background: none;
      clip-path: polygon(0% 0px, 0 0%, 100% 0%, 100% 0%, 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, 0 100%, 0% 0);
   }

   @media (max-width:$mobileMiddle) {
      --notchSize: 40px;
      padding: 0 rem(20);
   }

   .sidebar-catalog-open & {
      clip-path: none;
      background: url(../img/sidebar-catalog-btn-active.svg) no-repeat top left;



      @media (max-width:$pc) {
         background: url(../img/sidebar-catalog-btn-active-2.svg) no-repeat top left;
      }

      @media (max-width:$laptop) {
         background: url(../img/sidebar-catalog-btn-active-3.svg) no-repeat top left;
      }

      &:hover {
         background: url(../img/sidebar-catalog-btn-active-hover.svg) no-repeat top left;

         @media (max-width:$pc) {
            background: url(../img/sidebar-catalog-btn-active-hover-2.svg) no-repeat top left;
         }

         @media (max-width:$laptop) {
            background: url(../img/sidebar-catalog-btn-active-hover-3.svg) no-repeat top left;
         }
      }

      .sidebar-catalog-btn__text {
         display: none;
      }

      .sidebar-catalog-btn__icon {
         display: none;
      }

      .sidebar-catalog-btn__icon-close {
         display: block;
      }
   }

   // .sidebar-catalog-btn__icon-wrapper

   &__icon-wrapper {
      margin-bottom: rem(14);
   }

   // .sidebar-catalog-btn__icon

   &__icon {
      width: 31px;
      height: 18px;

      @media (max-width:$tablet) {
         display: none;
      }

      use {
         fill: var(--red-logo);
         transition: all 0.3s ease 0s;
      }
   }

   // .sidebar-catalog-btn__icon-close

   &__icon-close {
      width: 26.163px;
      height: 26.163px;
      display: none;

      use {
         fill: #fff;
      }
   }

   // .sidebar-catalog-btn__text

   &__text {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      transition: all 0.3s ease 0s;

      @media (max-width:$tablet) {
         background: var(--red-main);
         color: var(--text-white);
         width: 100%;
         height: 100%;
         padding: rem(7) 0;
      }
   }
}

// #endregion

// #region sidebar-catalog

.sidebar-catalog {
   position: fixed;
   top: 0;
   left: -50px;
   padding-left: var(--left-cat-btn);
   background: var(--bg-cat-dark-grey);
   color: var(--text-white);
   z-index: 25;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s ease 0s;

   .sidebar-catalog-open & {
      left: 0;
      opacity: 1;
      visibility: visible;
      cursor: auto;
   }

   .sidebar-sub-catalog-open & {
      width: 100%;
   }

   @media (max-width:$mobile) {
      width: 100%;
   }

   // .sidebar-catalog__wrapper

   &__wrapper {}

   // .sidebar-catalog__body

   &__body {
      display: grid;
      grid-template-columns: 543px 1fr;

      @media (max-width:$laptopL) {
         .sidebar-sub-catalog-open & {
            grid-template-columns: repeat(2, 1fr);
         }
      }

      @media (max-width:$tablet) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$mobile) {
         grid-template-columns: 1fr;
      }
   }

   // .sidebar-catalog__header

   &__header {
      display: none;
      padding: rem(22) rem(20);

      @media (max-width:$tablet) {
         display: flex;
         align-items: center;
         justify-content: space-between;
         grid-column: 1/3;
         border-bottom: 1px solid var(--cat-border);
      }

      @media (max-width:$mobile) {
         border: none;
         position: relative;
         z-index: 10;
      }
   }

   // .sidebar-catalog__title

   &__title {
      font-size: 22px;
      font-weight: 600;

      @media (max-width:$mobile) {
         .sidebar-sub-catalog-open & {
            display: none;
         }
      }
   }

   // .sidebar-catalog__back

   &__back {
      width: 18px;
      height: 26px;
      display: none;

      @media (max-width:$mobile) {
         .sidebar-sub-catalog-open & {
            display: block;
         }
      }
   }

   // .sidebar-catalog__back-svg

   &__back-svg {
      width: 100%;
      height: 100%;

      use {
         fill: #fff;
      }
   }

   // .sidebar-catalog__close

   &__close {
      width: 26px;
      height: 26px;
   }

   // .sidebar-catalog__close-svg

   &__close-svg {
      width: 100%;
      height: 100%;

      use {
         fill: #fff;
      }
   }

   // .sidebar-catalog__menu-chunk

   &__menu-chunk {
      position: relative;
   }

   // .sidebar-catalog__hover-rect

   &__hover-rect {
      position: absolute;
      right: -20px;
      width: 30px;
      height: 1600px;
      background: url(../img/sidebar-catalog-link-hover.png) bottom;

      @media (max-width:$tablet) {
         display: none;
      }
   }

   // .sidebar-catalog__menu

   &__menu {
      padding-left: rem(58);
      padding-top: rem(52);
      padding-right: rem(30);
      padding-bottom: rem(70);
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow: auto;
      gap: 18px;
      border-right: 1px solid var(--cat-border);

      @media (min-width:$tablet) {
         &::after {
            content: '';
            position: absolute;
            background: linear-gradient(180deg, rgba(55, 55, 55, 0.00) 0%, #373737 100%);
            left: 0;
            right: 2px;
            bottom: 0;
            height: 34px;
         }
      }

      @media (max-width:$tablet) {
         height: calc(100vh - 71px);
         padding: rem(20);
         padding-bottom: rem(150);
      }

      @media (max-width:$mobile) {
         height: calc(100vh - 70px);
         border: none;
      }

      // &::-webkit-scrollbar {
      //    background: 0 0;
      //    width: 6px;
      // }

      // &::-webkit-scrollbar-thumb {
      //    background: var(--bg-cat-light-grey);
      //    border: 1px solid var(--bg-cat-light-grey);
      // }
      @extend %hidescroll;
   }

   // .sidebar-catalog__link

   &__link {
      display: flex;
      align-items: center;
      gap: 41px;
      font-size: 16px;
      line-height: 20px;

      @media (max-width:$tablet) {
         &::after {
            content: url(../img/icons/sidebar-catalog__link.svg);
         }
      }

      @media (max-width:$mobileSmall) {
         gap: 15px;
      }

      &:hover {

         .sidebar-catalog__link-svg {
            use {
               fill: var(--red-main);
            }
         }
      }
   }

   // .sidebar-catalog__link-svg

   &__link-svg {
      flex: 0 0 38px;
      width: 38px;
      height: 38px;

      use {
         transition: fill 0.3s;
         fill: #5D5D5D;
      }
   }

   // .sidebar-catalog__link-span

   &__link-span {
      @media (max-width:$tablet) {
         flex: 1 1 auto;
      }
   }

   // .sidebar-catalog__sub-catalog

   &__sub-catalog {}
}

.sidebar-sub-catalog {
   background: var(--bg-cat-light-grey);
   display: none;

   .sidebar-sub-catalog-open & {
      display: block;
   }

   @media (min-width:$laptop) {
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         right: 0;
         background: url(../img/sidebar-catalog-rectangle.svg);
         width: 54px;
         height: 293px;
      }
   }

   @media (max-width:$mobile) {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      right: -100%;
      background: var(--bg-cat-dark-grey);
      transition: all 0.3s;
      display: block;
      padding-top: rem(70);

      .sidebar-sub-catalog-open & {
         right: 0;
      }
   }

   // .sidebar-sub-catalog__wrapper

   &__wrapper {
      padding-left: rem(60);
      padding-right: rem(82);
      position: relative;

      @media (max-width:$laptopL) {
         padding: 0 0 0 rem(60);
      }

      @media (max-width:$tablet) {
         padding: 0;
      }

      @media (max-width:$mobile) {
         padding: 0;
         height: 100%;
      }

      &::after {
         content: '';
         position: absolute;
         background: linear-gradient(180deg, rgba(62, 62, 62, 0.00) 0.54%, #3E3E3E 100%);
         left: 0;
         right: 2px;
         bottom: 0;
         height: 46px;
      }
   }

   // .sidebar-sub-catalog__chunk

   &__chunk {
      @media (max-width:$tablet) {}

      @media (max-width:$mobile) {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }

      &._sub-menu-open {
         display: block;
      }
   }

   // .sidebar-sub-catalog__row

   &__row {
      display: grid;
      grid-template-columns: 1fr minmax(0, 340px);
      height: 100vh;
      gap: 10px;

      @media (max-width:$pc) {
         grid-template-columns: 1fr minmax(0, 240px);
      }

      @media (max-width:$laptopL) {
         grid-template-columns: 1fr;
      }

      @media (max-width:$tablet) {
         height: calc(100vh - 70px);
         padding: rem(20);
      }

      @media (max-width:$mobile) {
         height: 100%;
      }
   }

   // .sidebar-sub-catalog__grid

   &__grid {
      padding-top: rem(55);
      padding-bottom: rem(61);
      padding-right: rem(100);
      @include adaptiveValue("padding-right", 100, 0, 0, 1920, 1600);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: start;
      align-items: start;
      column-gap: 62px;
      height: 100%;
      overflow: auto;

      @media (max-width:$pc) {
         column-gap: 20px;
      }

      @media (max-width:$laptopL) {
         grid-template-columns: 1fr;
      }

      @media (max-width:$tablet) {
         padding: 0;
         padding-bottom: rem(100);
      }

      &::-webkit-scrollbar {
         background: 0 0;
         width: 6px;
      }

      &::-webkit-scrollbar-thumb {
         background: var(--bg-cat-dark-grey);
         border: 1px solid var(--bg-cat-dark-grey);
      }
   }

   // .sidebar-sub-catalog__link

   &__link {
      padding: rem(18) rem(18);
      font-size: 16px;
      line-height: 20px;
      background: none;
      font-weight: 400;
      border-radius: 0;

      &:hover {
         @media (min-width:$tablet) {
            background: rgba(0, 0, 0, 0.24);
         }
      }
   }

   // .sidebar-sub-catalog__banner

   &__banner {
      padding-top: rem(67);
      padding-bottom: rem(61);

      @media (max-width:$laptopL) {
         display: none;
      }
   }

   // .sidebar-sub-catalog__banner-ibg

   &__banner-ibg {
      height: 466px;
      display: block;

      img {
         object-position: top;
      }
   }
}

// #endregion